{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="" style="text-align: center">
        <p></p>
        <button class="btn btn-outline-success"> {{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}


{# Ajouter la possibilité pour l'utilisateur d'intégrer des photos dans son annonce (voir le TP correspondant) #}