{% extends 'base.html.twig' %}

{% block title %}Edit Room{% endblock %}

{% block body %}
    <div class="container-fluid col-md-12 col-md-offset-10 bg-transparent">
        <h1>Edit Room</h1>

        {{ include('room/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('room_show', {'id': room.id}) }}"> Retour</a>

        {{ include('room/_delete_form.html.twig') }}
    </div>

{% endblock %}
